*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Nav CSS */
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;

}
.navbar-brand img{
    height: 40px;
    padding-left:30px ;
}
.navbar-toggler{
    border: none!important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar-nav li a:hover{
    color: #007bff!important;
}
.navbar-nav .nav-link{
    color: #555!important;
    font-size: 16px;
    font-weight: 600;
}
/* about CSS */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .about-contant{
   padding-top: 20px; 
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.skilBar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress{
    border-radius: 16px!important;
    margin-bottom: 20px;
}
.progress-bar{
    border-radius: 16px!important;
}
/* Services CSS */
#services{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(img/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}
#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
/* Team CSS */
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#team h1{
  text-align: center;
  padding-bottom: 10px;
  color: #555!important;
  
 }
#team h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

 }
 .our-team{
    margin-top: 25px;
    
 }
 .our-team .img-box{
    opacity: 1;
    display: block;
    position: relative;
 }
 .our-team .img-box img{
     filter: grayscale(1);
 }
 .our-team .img-box img:hover{
     filter: grayscale(0);
     cursor: pointer;
 }
 
 .our-team h2{
    font-size: 22px;
    font-weight:bold ;
    margin-top: 15px;
    color: #007bff!important;
 }
 .our-team h3{
    font-size: 15px;
    font-weight:bold ;
    margin-top: 15px;
 }
 #team .fab{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
 }
 .img-box{
     width: 220px;
     height: auto;
 }
 .img-box ul{
     padding: 15px 0;
     position: absolute;
     z-index: 2;
     bottom:0;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;
 }
 
 .img-box ul li{
    padding: 4px;
    display: inline-block;
 }
 .img-box:hover ul{
     opacity: 1;
 }
 .img-box ul ,img-box ul li{
     transition: 0.5s;
 }
/* Promo CSS */
#promo{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/promo.jpg) ;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

/* price plan css */
#price h1{
    text-align: center;
    padding-bottom: 10px;
    color: #555!important;
    
   }
#price h1::after{
      content: '';
      background: #007bff;
      display: block;
      height: 3px;
      width: 170px;
      margin: 20px auto 5px;
  
}
#price{
    padding: 40px 0;
    background: #efefef;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #2196f3;
    padding: 10px 2px;
    display: inline;
    text-align: center;
    float: left;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.price-head p{
    color: #ccc;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}
.price-head span{
    font-size: 15px;
}
.price-contant{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-contant ul li{
    border-bottom: 1px solid #efefef;
    padding-top: 30px;
    font-size: 14px;
    list-style: none;
}
 ul li:last-child{
    border:none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-btn{
    display: inline;
    float: left;
    padding: 15px 5px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: #fff;
    background-color: #3f5bb5;
}
a{
    color: #fff!important;
    text-decoration:none!important;
}

/* Testimonials */

#testimonials h1{
    text-align: center;
    padding-bottom: 10px;
    color: #555!important;
}
#testimonials h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
  
}
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    position: relative;
    background-color: #efefef;
}
.profile:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
.user{
    width: 120px;
    height: 120px;
    border-radius:50% ;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span{
    font-size: 12px;
    color: #333;
}
#testimonials q{
    font-size: 16px;
    line-height: 30px;
}
#testimonials q::before{
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
#testimonials q::after{
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
/* contact CSS */
#contact h1{
    text-align: center;
    padding-bottom: 10px;
    color: #555!important;
}
#contact h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
  
}
#contact{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border:none !important;
    margin-bottom: 15px;
}
::placeholder{
    color:#999;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fas{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
.contact-info .fab{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

